/*Styles para 480px*/
@media screen and (max-width: 480px) {
    /*Login*/
    .form-check-label{
        font-size: 15px;
    }
    /*Index*/
    /*Fondos Index*/
    #secParalax1{
        background-image: url("../../Assets/FondoInicio480.jpg");
    }
    @keyframes slai {
        0%{background-image: url("../../Assets/FondoInicio480.jpg");}
        25%{background-image: url("../../Assets/Galeria3480px.jpg");}
        50%{background-image: url("../../Assets/FondoShop480.jpg");}
        75%{background-image: url("../../Assets/Galeria4480.jpg");}
        100%{background-image: url("../../Assets/Galeria6480px.jpg");}
    }
    #secParalax2{
        background-image: url("../../Assets/FondoInicio2480.jpg");
        }
    /*Texto Central*/    
    .textCentral{
        .textPrinc{
            font-size: 60px;
        }
        .secText{
            font-size: 15px;    
            padding-right: 30px;
        }
    }
     /*Plans*/
     /*Grid Plans*/
    .plans{
        grid-template-columns: 1fr;
        grid-template-rows: 15% repeat(4, 350px) 35%;
        grid-template-areas: 
        "header"
        "personal"
        "grupo"
        "distancia"
        "nutri"
        "footer";   
        row-gap: 20px;
    }
    /*Contenido Etiquetas*/
    .contenedor{
        figure{
            &:hover .texto p{
                margin-top: 35px;
                margin-bottom: 15px;
            }
        }

    }
    /*Gallery*/
    /*Grid Gallery*/
    .galleryPage{
        grid-template-rows: 4% 1fr 3%;
        max-width: 480px;
    }
    /*Grid Imagenes*/
    .galleryConten{
        grid-template-columns: 480px;
        grid-template-rows: repeat(13, 1fr);
        grid-template-areas: 
        "gallery1"
        "gallery2"
        "gallery3"
        "gallery4"
        "gallery5"
        "gallery6"
        "gallery7"
        "gallery8"
        "gallery9"
        "gallery10"
        "gallery11"
        "gallery12"
        "gallery13";
        margin: 0;
        img{
            width: 90%;
        }
    }
    /*Shop*/
    /*Grid Shop*/
    .shop{
        grid-template-columns: 1fr;
        grid-template-rows: 5% 5% repeat(3, 1fr) 10%;
        grid-template-areas: 
        "header"
        "."
        "product1"
        "product2"
        "product3"
        "footer";
    }
    /*Contact*/
    /*Grid Contact*/
    .contact{
         grid-template-rows: 12% 1fr 10%;
         #contact form{
            margin-top: 30px;
            margin-bottom: 30px;
        }
    }
    .ckeckButton{
        flex-direction: column;
    }
    /*Registrarme*/
}