/*Grid Contact*/
.contact{
    display: grid;
    grid-template-columns: 10% 1fr 10%;
    grid-template-rows: 15% 5% 1fr 5% 5%;
    grid-template-areas: 
    "header header header"
    ". . ."
    ". contact ."
    ". . ."
    "footer footer footer";
    width: $all;
    height: 100vh;
    #contact{
        grid-area: contact;
        .contactanos{
            width: 90%;
            padding: 10px 10px;
            .form-control{
                background: $fondoImput;
            }
            i{
                font-size: 25px;
                transition: all 500ms ease-out;
                &:hover{
                    transition: all 500ms ease-out;
                    transform: scale(1.2);
                }
            }
            iframe{
                border-radius: 5px;
            }
        }
        form{
            .generalImputs{
                box-sizing: border-box;
                border: none;
                border-radius: 7px;
                padding: 15px;
                font-size: 15px;
            }
            /*Form Contact*/
            width: $all - 10%;
            margin: auto;
            margin-top: 50px;
            margin-bottom: 50px;
            background: $fondoForm;
            padding: 10px 20px;
            box-sizing: border-box;
            border-radius: 10px;
            /*Titulo Contact*/
            h2{
                text-align: center;
                margin: 0;
                font-size: 25px;
                margin-bottom: 15px;
            }
            .input{
                /*Imputs Contact*/
                @extend .generalImputs;
                width: $all;
                margin-bottom: 10px;
                text-align: justify;
                background: $fondoImput;
            }
            .checks{
                /*Genero Contact*/
                @extend .generalImputs;
                display: flex;
                width: $all;
                justify-content: start;
                background: $fondoImput;
                margin-bottom: 10px;
                .check{
                    border: none;
                    vertical-align: middle;
                    margin-left: 20px;
                    margin-bottom: 1px;
                    label{
                        font-size: 15px;
                    }
                }
            }
            .region{
                /*Region Contact*/
                @extend .generalImputs;
                width: $all;
                margin-bottom: 10px;
                background: $fondoImput;
            }
            textarea{
                /*Comentario Contact*/
                min-height: 100px;
                max-height: 200px;
                max-width: $all;
                min-width: $all;
            }
            .ckeckButton{
                /*Terminos y Condiciones Contact*/
                display: flex;
                justify-content: space-between;
                align-items: center;
                .checkCond{
                    border: none;
                    vertical-align: middle;
                    margin-right: 5px;
                    margin-bottom: 1px;
                    label{
                        font-size: 15px;
                     }
                }
                .buttonForm{
                    /*Buttons Contact*/
                    @extend .generalImputs;
                    width: 100px;
                    margin-bottom: 10px;
                    padding: 7px;
                    cursor: pointer;
                }
            }
        }
    }
}





 
