/*html*/
*{    
    margin: 0; padding: 0;
    box-sizing: border-box;
    font-family: 'Archivo Black', sans-serif;
    font-family: 'Roboto', sans-serif;
    font-style: italic;
    font-weight: bold;
    text-align: center;
}
