/*html*/
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.3/font/bootstrap-icons.css");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Archivo Black", sans-serif;
  font-family: "Roboto", sans-serif;
  font-style: italic;
  font-weight: bold;
  text-align: center;
}

/* Estructura de Fondo*/
.fondoHome {
  width: 100%;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  height: auto;
}

/*Fondo Inicio*/
#secParalax1 {
  background-image: url("../../Assets/FondoInicio.jpg");
  backface-visibility: hidden;
  animation: slai 30s linear infinite alternate 0s;
  animation-timing-function: ease-in-out;
  height: 100vh;
  max-width: 100%;
}

#secParalax2 {
  background-image: url("../../Assets/FondoInicio2.jpg");
}

/*Fondo Tu Plan*/
.fondoPlans {
  background-image: url("../../Assets/FondoTuPlan.jpg");
}

/*Fondo Gallery*/
.fondoGallery {
  background-image: url("../../Assets/FondoGallery.jpg");
}

/*Fondo Shop*/
.fondoShop {
  background-image: url("../../Assets/Galeria8.jpg");
}

/*Fondo Contact*/
.fondoContact {
  background-image: url("../../Assets/FondoContact.jpg");
}

.plans .entrancePlans:nth-child(2) {
  animation-delay: 0.4s;
}

.plans .entrancePlans:nth-child(3) {
  animation-delay: 0.6s;
}

.plans .entrancePlans:nth-child(4) {
  animation-delay: 0.8s;
}

.plans .entrancePlans:nth-child(5) {
  animation-delay: 1s;
}

.galleryConten .entrada:nth-child(1) {
  animation-delay: 0.2s;
}

.galleryConten .entrada:nth-child(2) {
  animation-delay: 0.4s;
}

.galleryConten .entrada:nth-child(3) {
  animation-delay: 0.6s;
}

.galleryConten .entrada:nth-child(4) {
  animation-delay: 0.8s;
}

.galleryConten .entrada:nth-child(5) {
  animation-delay: 1s;
}

.galleryConten .entrada:nth-child(6) {
  animation-delay: 1.2s;
}

.galleryConten .entrada:nth-child(7) {
  animation-delay: 1.4s;
}

.galleryConten .entrada:nth-child(8) {
  animation-delay: 1.6s;
}

.galleryConten .entrada:nth-child(9) {
  animation-delay: 1.8s;
}

.galleryConten .entrada:nth-child(10) {
  animation-delay: 2s;
}

.galleryConten .entrada:nth-child(11) {
  animation-delay: 2.2s;
}

.galleryConten .entrada:nth-child(12) {
  animation-delay: 2.4s;
}

.galleryConten .entrada:nth-child(13) {
  animation-delay: 2.6s;
}

.shop .entranceShop:nth-child(2) {
  animation-delay: 0.4s;
}

.shop .entranceShop:nth-child(3) {
  animation-delay: 0.6s;
}

.shop .entranceShop:nth-child(4) {
  animation-delay: 0.8s;
}

.shop .entranceShop:nth-child(5) {
  animation-delay: 1s;
}

@keyframes slai {
  0% {
    background-image: url("../../Assets/FondoInicio.jpg");
  }
  25% {
    background-image: url("../../Assets/Galeria3.jpg");
  }
  50% {
    background-image: url("../../Assets/FondoShop.jpg");
  }
  75% {
    background-image: url("../../Assets/Galeria4.jpg");
  }
  100% {
    background-image: url("../../Assets/Galeria6.jpg");
  }
}
@-webkit-keyframes slide-in-fwd-center {
  0% {
    -webkit-transform: translateZ(-1400px);
    transform: translateZ(-1400px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    opacity: 1;
  }
}
@keyframes slide-in-fwd-center {
  0% {
    -webkit-transform: translateZ(-1400px);
    transform: translateZ(-1400px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    opacity: 1;
  }
}
@-webkit-keyframes bounce-in-top {
  0% {
    -webkit-transform: translateY(-500px);
    transform: translateY(-500px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
    opacity: 0;
  }
  38% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
    opacity: 1;
  }
  55% {
    -webkit-transform: translateY(-65px);
    transform: translateY(-65px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  72% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
  81% {
    -webkit-transform: translateY(-28px);
    transform: translateY(-28px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  90% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
  95% {
    -webkit-transform: translateY(-8px);
    transform: translateY(-8px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
}
@keyframes bounce-in-top {
  0% {
    -webkit-transform: translateY(-500px);
    transform: translateY(-500px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
    opacity: 0;
  }
  38% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
    opacity: 1;
  }
  55% {
    -webkit-transform: translateY(-65px);
    transform: translateY(-65px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  72% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
  81% {
    -webkit-transform: translateY(-28px);
    transform: translateY(-28px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  90% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
  95% {
    -webkit-transform: translateY(-8px);
    transform: translateY(-8px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
}
@-webkit-keyframes slide-in-top {
  0% {
    -webkit-transform: translateY(-1000px);
    transform: translateY(-1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
  }
}
@keyframes slide-in-top {
  0% {
    -webkit-transform: translateY(-1000px);
    transform: translateY(-1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
  }
}
/*Barra de Navegacion*/
.navbar {
  background-color: rgba(0, 0, 0, 0.436);
  margin-top: 5px;
}
.navbar .navbar-nav {
  --bs-nav-link-hover-color: #ffffff;
}
.navbar .navbar-nav .nav-link {
  color: #ffffff;
}

/*Modal Login - Politica y Uso*/
.modal {
  --bs-modal-header-border-color:none;
  --bs-modal-footer-border-color:none;
}
.modal .modal-content {
  background: rgba(221, 221, 221, 0.7568627451);
  color: #000000;
}
.modal .modal-content .formLogin {
  background: rgba(255, 255, 255, 0.8980392157);
}
.modal .modal-backdrop {
  --bs-backdrop-zindex:0 ;
}

.footer {
  /*Pie de Pagina*/
  background-color: rgba(0, 0, 0, 0.436);
  color: #ffffff;
}
.footer .footerStart {
  /*Copyright*/
  font-size: 15px;
}
.footer .redes {
  /*Redes Sociales*/
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row nowrap;
}
.footer .redes i {
  font-size: 30px;
  margin: 0px 10px;
  transition: all 500ms ease-out;
}
.footer .redes i:hover {
  transition: all 500ms ease-out;
  transform: scale(1.3);
}
.footer .redes .bi-facebook:hover {
  color: #3b5998;
}
.footer .redes .bi-instagram:hover {
  background: radial-gradient(circle at 33% 100%, #fed373 4%, #f15245 30%, #d92e7f 62%, #9b36b7 85%, #515ecf);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
}
.footer .redes .bi-whatsapp:hover {
  color: #25d366;
}
.footer .end {
  /*Politica y Uso*/
  list-style-type: none;
  padding: 0;
  margin-bottom: 0;
}
.footer .end li {
  display: inline-block;
  text-align: center;
}
.footer .end li a {
  text-decoration: none;
  color: #ffffff;
  font-size: 15px;
}
.footer .end li img {
  width: 35px;
  height: 40px;
}

/*Grid Index*/
.index {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 25% 100vh auto 100vh 5%;
  grid-template-areas: "header" "index__hijo__1" "index__hijo__2" "index__hijo__3" "footer";
  width: 100%;
  height: 100vh;
}
.index #index__hijo__1 {
  grid-area: index__hijo__1;
}
.index #index__hijo__2 {
  grid-area: index__hijo__2;
}
.index #index__hijo__3 {
  grid-area: index__hijo__3;
}

#header {
  grid-area: header;
}

#footer {
  grid-area: footer;
  align-items: end;
}

/*Textos*/
.textCentral {
  background-color: transparent;
  color: #ffffff;
  margin-top: 200px;
  height: auto;
}
.textCentral .textPrinc {
  font-size: 100px;
  padding-bottom: 0;
  margin-bottom: 0;
}
.textCentral .secText {
  font-size: 30px;
  text-align: right;
  padding-right: 100px;
  margin-top: 0;
}

/*Seccion Bienvenidos*/
.nosotros {
  color: #000000;
  width: 100%;
  /*Seccion Confian en Nosotros*/
}
.nosotros h1 {
  padding-top: 60px;
  font-size: 40px;
}
.nosotros hr {
  border: 2px solid;
  color: #000000;
  width: 30%;
  margin: 0px 0px 0px 35%;
}
.nosotros p {
  padding: 20px 70px 30px 70px;
  font-size: 20px;
  line-height: 30px;
}
.nosotros .marcas {
  display: flex;
  flex-direction: column;
  align-content: center;
  width: 100%;
}
.nosotros .marcas h1 {
  font-size: 35px;
  font-weight: 900;
}
.nosotros .marcas figure {
  margin: 30px 0px;
  width: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.nosotros .marcas figure img {
  width: 45px;
  height: 45px;
}
.nosotros .marcas figure img:hover {
  transition: transform 0.5s ease;
  transform: scale(1.5);
}

/*Grid Plans*/
.plans {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 15% repeat(2, 1fr) 5%;
  grid-template-areas: "header header header" "personal grupo distancia" ". nutri ." "footer footer footer";
  width: 100%;
  height: 100vh;
  row-gap: 50px;
}
.plans #personal {
  grid-area: personal;
}
.plans #grupo {
  grid-area: grupo;
}
.plans #distancia {
  grid-area: distancia;
}
.plans #nutri {
  grid-area: nutri;
}
.plans .entrancePlans {
  -webkit-animation: slide-in-fwd-center 2s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation: slide-in-fwd-center 2s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

/*Contenido Etiquetas*/
.contenedor {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  max-width: 100%;
}
.contenedor figure {
  position: relative;
  height: 300px;
  width: 300px;
  overflow: hidden;
  border-radius: 20px;
  cursor: pointer;
}
.contenedor figure .imagen {
  margin-top: 20%;
  width: 60%;
  height: 60%;
  transition: all 500ms ease-out;
}
.contenedor figure:hover .imagen {
  transform: scale(1.3);
}
.contenedor figure .texto {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(221, 221, 221, 0.7568627451);
  opacity: 0;
  visibility: hidden;
  transition: all 500ms ease-out;
}
.contenedor figure .texto p {
  display: flex;
  flex-direction: column;
  color: #000000;
  line-height: 1.1;
  font-weight: 900;
  margin-bottom: 120px;
  margin-top: 10px;
  transition: all 500ms ease-out;
}
.contenedor figure .texto p .textA {
  font-size: 20px;
}
.contenedor figure .texto p .textA img {
  width: 40px;
  height: 40px;
  margin-right: 10px;
}
.contenedor figure .texto p .textB {
  font-size: 35px;
}
.contenedor figure .texto .enlaces {
  list-style-type: none;
  padding: 0;
}
.contenedor figure .texto .enlaces li {
  display: block;
  color: #000000;
  font-size: 15px;
  line-height: 1.5;
  width: 100%;
  max-width: 350px;
  margin: auto;
}
.contenedor figure .texto .enlaces img {
  width: 10px;
  height: 10px;
  margin-right: 5px;
}
.contenedor figure:hover .texto {
  opacity: 1;
  visibility: visible;
}
.contenedor figure:hover .texto p {
  margin-top: 40px;
  margin-bottom: 20px;
  transition: all 500ms ease-out;
}
.contenedor .pieContenedor {
  color: #ffffff;
  font-size: 25px;
  margin-top: 15px;
}

/*Grid Gallery*/
.galleryPage {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 10% 1fr 4%;
  grid-template-areas: "header" "gallery" "footer";
  width: 100%;
  height: auto;
}
.galleryPage #gallery {
  grid-area: gallery;
}

/*Grid Imagenes*/
.galleryConten {
  display: grid;
  grid-template-columns: repeat(3, 1fr) 8% repeat(2, 1fr);
  grid-template-rows: repeat(5, 1fr);
  grid-template-areas: "gallery1 gallery2 gallery2 gallery3 gallery3 gallery4" "gallery5 gallery2 gallery2 gallery6 gallery6 gallery6" "gallery5 gallery7 gallery8 gallery6 gallery6 gallery6" "gallery9 gallery9 gallery10 gallery10 gallery11 gallery12" "gallery9 gallery9 gallery13 gallery13 gallery11 gallery12";
  grid-gap: 10px;
  justify-items: stretch;
  align-items: stretch;
  margin: 2rem auto;
  width: 90%;
  min-width: 1000px;
  /*Imagenes Galeria*/
}
.galleryConten .gallery1 {
  grid-area: gallery1;
}
.galleryConten .gallery2 {
  grid-area: gallery2;
}
.galleryConten .gallery3 {
  grid-area: gallery3;
}
.galleryConten .gallery4 {
  grid-area: gallery4;
}
.galleryConten .gallery5 {
  grid-area: gallery5;
}
.galleryConten .gallery6 {
  grid-area: gallery6;
}
.galleryConten .gallery7 {
  grid-area: gallery7;
}
.galleryConten .gallery8 {
  grid-area: gallery8;
}
.galleryConten .gallery9 {
  grid-area: gallery9;
}
.galleryConten .gallery10 {
  grid-area: gallery10;
}
.galleryConten .gallery11 {
  grid-area: gallery11;
}
.galleryConten .gallery12 {
  grid-area: gallery12;
}
.galleryConten .gallery13 {
  grid-area: gallery13;
}
.galleryConten .entrada {
  -webkit-animation: bounce-in-top 1.1s both;
  animation: bounce-in-top 1.5s both;
}
.galleryConten .entrada img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  cursor: pointer;
  border-radius: 30px;
  transition: all 500ms ease-out;
}
.galleryConten .entrada img:hover {
  transition: all 500ms ease-out;
  transform: scale(1.1);
}

/*Grid Shop*/
.shop {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 15% 5% 1fr 10% 7%;
  grid-template-areas: "header header header" ". . ." "product1 product2 product3" ". . ." "footer footer footer";
  width: 100%;
  height: auto;
  /*Etiquetas Shop*/
}
.shop #product1 {
  grid-area: product1;
}
.shop #product2 {
  grid-area: product2;
}
.shop #product3 {
  grid-area: product3;
}
.shop .entranceShop {
  -webkit-animation: slide-in-top 0.6s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation: slide-in-top 0.6s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}
.shop .container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin: 20px 0px;
  flex-wrap: wrap;
}
.shop .container .item-container {
  position: relative;
  margin: 24px;
  width: 320px;
  height: 580px;
  overflow: hidden;
  background-color: #ffffff;
  box-shadow: 0 0 30px 5px rgba(255, 255, 255, 0.3058823529);
  border-radius: 20px;
  cursor: pointer;
}
.shop .container .item-container:hover .overlay {
  opacity: 1;
  height: 150px;
}
.shop .container .item-container:hover .action {
  top: 40px;
}
.shop .container .img-container,
.shop .container .body-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.shop .container .img-container img {
  width: 100%;
}
.shop .container .img-container .carruselMarca {
  position: absolute;
  left: 86%;
  top: 1px;
  width: 35px;
  height: 35px;
}
.shop .container .body-container .overlay {
  position: relative;
  width: 100%;
  height: 320px;
  background-color: rgba(0, 0, 0, 0.436);
  opacity: 0;
  transition: height linear 0.4s, opacity linear 0.2s;
}
.shop .container .body-container .contenProduc {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ffffff;
  flex-direction: column;
  padding: 8px;
}
.shop .container .body-container .contenProduc .title,
.shop .container .body-container .contenProduc .price {
  color: #18537a;
  font-size: 25px;
  font-weight: bold;
  letter-spacing: 1px;
  margin: 8px 12px;
}
.shop .container .body-container .contenProduc .info {
  letter-spacing: 0.5px;
  margin-bottom: 6px;
}
.shop .container .body-container .contenProduc .separator {
  width: 40%;
  height: 6px;
  background-color: #17537a;
  margin-bottom: 16px;
}
.shop .container .body-container .contenProduc .talles {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  letter-spacing: 0.5px;
}
.shop .container .body-container .contenProduc .talles .checkTalles {
  padding: 2px 10px;
  margin: 0px 3px;
  border-radius: 10px;
  border: 1px solid #bbbbbb;
}
.shop .container .body-container .contenProduc .talles .checkTalles input {
  display: block;
  margin: 0 auto;
}
.shop .container .body-container .contenProduc .talles .checkTalles input label {
  display: inline-block;
}
.shop .container .body-container .contenProduc .additional-info {
  border-top: 1px solid #bbbbbb;
  margin-top: 12px;
  padding: 18px;
  padding-bottom: 0;
}
.shop .container .body-container .contenProduc .additional-info .info {
  font-size: 0.9em;
  margin-bottom: 20px;
  text-align: center;
}
.shop .container .body-container .contenProduc .additional-info .info i {
  color: #18537a;
  font-size: 1.1em;
  margin-right: 4px;
}
.shop .container .body-container .contenProduc .additional-info .info span {
  color: #18537a;
  font-weight: bolder;
}
.shop .container .body-container .action {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #ffffff;
  background-color: transparent;
  position: absolute;
  top: -100px;
  left: 50%;
  transform: translateX(-50%);
  width: auto;
  padding: 12px;
  text-transform: uppercase;
  font-size: 25px;
  transition: top 0.5s;
}
.shop .container .body-container .action div {
  transition: all 500ms ease-out;
  padding: 0px 25px;
}
.shop .container .body-container .action div:hover {
  transition: all 500ms ease-out;
  transform: scale(1.3);
}
.shop .container .body-container .action .bi-cart-check-fill {
  font-size: 28px;
}
.shop .container .body-container .action .bi-heart-fill {
  transition: all 500ms ease-out;
}
.shop .container .body-container .action .bi-heart-fill:hover {
  transition: all 500ms ease-out;
  color: #ff0000;
}

/*Grid Contact*/
.contact {
  display: grid;
  grid-template-columns: 10% 1fr 10%;
  grid-template-rows: 15% 5% 1fr 5% 5%;
  grid-template-areas: "header header header" ". . ." ". contact ." ". . ." "footer footer footer";
  width: 100%;
  height: 100vh;
}
.contact #contact {
  grid-area: contact;
}
.contact #contact form {
  /*Form Contact*/
  width: 100%;
  margin: auto;
  margin-top: 50px;
  margin-bottom: 50px;
  background: rgba(221, 221, 221, 0.7568627451);
  padding: 10px 20px;
  box-sizing: border-box;
  border-radius: 10px;
  /*Titulo Contact*/
}
.contact #contact form .generalImputs, .contact #contact form .ckeckButton .buttonForm, .contact #contact form .region, .contact #contact form .checks, .contact #contact form .input {
  box-sizing: border-box;
  border: none;
  border-radius: 7px;
  padding: 15px;
  font-size: 15px;
}
.contact #contact form h2 {
  text-align: center;
  margin: 0;
  font-size: 30px;
  margin-bottom: 15px;
}
.contact #contact form .input {
  /*Imputs Contact*/
  width: 100%;
  margin-bottom: 10px;
  text-align: justify;
  background: rgba(255, 255, 255, 0.8980392157);
}
.contact #contact form .checks {
  /*Genero Contact*/
  display: flex;
  width: 100%;
  justify-content: start;
  background: rgba(255, 255, 255, 0.8980392157);
  margin-bottom: 10px;
}
.contact #contact form .checks .check {
  border: none;
  vertical-align: middle;
  margin-left: 20px;
  margin-bottom: 1px;
}
.contact #contact form .checks .check label {
  font-size: 15px;
}
.contact #contact form .region {
  /*Region Contact*/
  width: 100%;
  margin-bottom: 10px;
  background: rgba(255, 255, 255, 0.8980392157);
}
.contact #contact form textarea {
  /*Comentario Contact*/
  min-height: 100px;
  max-height: 200px;
  max-width: 100%;
  min-width: 100%;
}
.contact #contact form .ckeckButton {
  /*Terminos y Condiciones Contact*/
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.contact #contact form .ckeckButton .checkCond {
  border: none;
  vertical-align: middle;
  margin-right: 5px;
  margin-bottom: 1px;
}
.contact #contact form .ckeckButton .checkCond label {
  font-size: 15px;
}
.contact #contact form .ckeckButton .buttonForm {
  /*Buttons Contact*/
  width: 100px;
  margin-bottom: 10px;
  cursor: pointer;
}

/*Styles para 992px*/
@media screen and (max-width: 992px) {
  .end li {
    margin-top: 0px;
  }
}
/*Styles para 768px*/
@media screen and (max-width: 768px) {
  /*Index*/
  .textCentral {
    line-height: 1;
  }
  .textCentral .textPrinc {
    font-size: 80px;
  }
  .textCentral .secText {
    font-size: 20px;
    padding-right: 60px;
  }
  /*Plans*/
  /*Grid Plans*/
  .plans {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 15% repeat(2, 400px) 20%;
    grid-template-areas: "header header" "personal grupo" "distancia nutri" "footer footer";
    row-gap: 20px;
  }
  #header {
    z-index: 100;
  }
  #personal {
    z-index: 99;
  }
  /*Contenido Etiquetas*/
  .contenedor .figure {
    height: 260px;
    width: 260px;
  }
  .contenedor .figure:hover .texto p {
    margin-top: 40px;
    margin-bottom: 25px;
  }
  .contenedor .figure p .texto .textA {
    font-size: 15px;
  }
  .contenedor .figure p .texto .textA img {
    width: 25px;
    height: 25px;
  }
  .contenedor .figure p .texto .textB {
    font-size: 35px;
  }
  .contenedor .figure .enlaces li {
    font-size: 12px;
  }
  .contenedor .figure .enlaces li img {
    width: 8px;
    height: 8px;
  }
  .contenedor .pieContenedor {
    font-size: 25px;
    margin-top: 10px;
  }
  /*Gallery*/
  /*Grid Gallery*/
  .galleryPage {
    grid-template-rows: 4% 1fr 5%;
    row-gap: 10px;
    max-width: 768px;
  }
  /*Grid Imagenes*/
  .galleryConten {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(10, 250px);
    grid-template-areas: "gallery1 gallery2 gallery2" "gallery5 gallery2 gallery2" "gallery5 gallery7 gallery7" "gallery3 gallery13 gallery13" "gallery6 gallery6 gallery6" "gallery6 gallery6 gallery6" "gallery10 gallery11 gallery12" "gallery10 gallery11 gallery12" "gallery9 gallery9 gallery8" "gallery9 gallery9 gallery4";
    min-width: 0;
  }
  /*Shop*/
  /*Grid Shop*/
  .shop {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 5% 5% repeat(2, 1fr) 10%;
    grid-template-areas: "header header" ". ." "product1 product2" "product3 product3" "footer footer";
  }
  /*Contact*/
  /*Grid Contact*/
  .contact {
    grid-template-columns: 1fr;
    grid-template-rows: 15% 1fr 15%;
    grid-template-areas: "header" "contact" "footer";
    height: auto;
    /*Form Contact*/
  }
  .contact #contact form {
    width: 90%;
  }
}
/*Styles para 480px*/
@media screen and (max-width: 480px) {
  /*Login*/
  .form-check-label {
    font-size: 15px;
  }
  /*Index*/
  /*Fondos Index*/
  #secParalax1 {
    background-image: url("../../Assets/FondoInicio480.jpg");
  }
  @keyframes slai {
    0% {
      background-image: url("../../Assets/FondoInicio480.jpg");
    }
    25% {
      background-image: url("../../Assets/Galeria3480px.jpg");
    }
    50% {
      background-image: url("../../Assets/FondoShop480.jpg");
    }
    75% {
      background-image: url("../../Assets/Galeria4480.jpg");
    }
    100% {
      background-image: url("../../Assets/Galeria6480px.jpg");
    }
  }
  #secParalax2 {
    background-image: url("../../Assets/FondoInicio2480.jpg");
  }
  /*Texto Central*/
  .textCentral .textPrinc {
    font-size: 60px;
  }
  .textCentral .secText {
    font-size: 15px;
    padding-right: 30px;
  }
  /*Plans*/
  /*Grid Plans*/
  .plans {
    grid-template-columns: 1fr;
    grid-template-rows: 15% repeat(4, 350px) 35%;
    grid-template-areas: "header" "personal" "grupo" "distancia" "nutri" "footer";
    row-gap: 20px;
  }
  /*Contenido Etiquetas*/
  .contenedor figure:hover .texto p {
    margin-top: 35px;
    margin-bottom: 15px;
  }
  /*Gallery*/
  /*Grid Gallery*/
  .galleryPage {
    grid-template-rows: 4% 1fr 3%;
    max-width: 480px;
  }
  /*Grid Imagenes*/
  .galleryConten {
    grid-template-columns: 480px;
    grid-template-rows: repeat(13, 1fr);
    grid-template-areas: "gallery1" "gallery2" "gallery3" "gallery4" "gallery5" "gallery6" "gallery7" "gallery8" "gallery9" "gallery10" "gallery11" "gallery12" "gallery13";
    margin: 0;
  }
  .galleryConten img {
    width: 90%;
  }
  /*Shop*/
  /*Grid Shop*/
  .shop {
    grid-template-columns: 1fr;
    grid-template-rows: 5% 5% repeat(3, 1fr) 10%;
    grid-template-areas: "header" "." "product1" "product2" "product3" "footer";
  }
  /*Contact*/
  /*Grid Contact*/
  .contact {
    grid-template-rows: 12% 1fr 15%;
  }
  .contact #contact form {
    margin-top: 30px;
    margin-bottom: 30px;
  }
  .ckeckButton {
    flex-direction: column;
  }
  /*Registrarme*/
}
/*Styles para 320px*/
@media screen and (max-width: 320px) {
  /*Index*/
  .textCentral .textPrinc {
    font-size: 40px;
  }
  .textCentral .secText {
    font-size: 15px;
    text-align: right;
    padding-right: 20px;
  }
  /*Seccion Bienvenidos*/
  .nosotros {
    width: 100%;
    /*Seccion Confian en Nosotros*/
  }
  .nosotros h1 {
    padding-top: 40px;
    font-size: 20px;
  }
  .nosotros hr {
    width: 50%;
    margin-left: 25%;
    border: 2px solid;
  }
  .nosotros p {
    font-size: 15px;
    padding: 30px 20px 30px 20px;
  }
  .nosotros .marcas h1 {
    font-size: 20px;
  }
  .nosotros .marcas figure img {
    width: 25px;
    height: 25px;
  }
  /*Gallery*/
  .galleryPage {
    max-width: 320px;
  }
  /*Shop*/
  .productShop p {
    transform: translate(80px, -30px);
  }
  /*Contact*/
  .contact #contact form h2 {
    font-size: 20px;
  }
  .contact #contact form .ckeckButton .checkLabel {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
  }
  .contact #contact form .ckeckButton .checkLabel label {
    font-size: 12px;
  }
  /*Footer*/
  .footer .footerStart {
    font-size: 12px;
  }
  .footer .redes a img {
    width: 25px;
    height: 25px;
  }
  .footer .end {
    margin-bottom: 0.5rem;
    margin-top: 0.4rem;
  }
  .footer .end li a {
    font-size: 12px;
  }
  .footer .end li img {
    width: 20px;
    height: 25px;
  }
}

/*# sourceMappingURL=stylesSass.css.map */
