/* Estructura de Fondo*/
.fondoHome{
    width: 100%;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    height: auto;
}
/*Fondo Inicio*/
#secParalax1{
    background-image: url("../../assets/FondoInicio.jpg");
    backface-visibility: hidden;
    animation: slai 30s linear infinite  alternate 0s;
    animation-timing-function: ease-in-out;
    height: 100vh;
    max-width: 100%;
}
#secParalax2{
    background-image: url("../../assets/FondoInicio2.jpg");
    }
/*Fondo Tu Plan*/
.fondoPlans{
    background-image: url("../../assets/FondoTuPlan.jpg");
}
/*Fondo Gallery*/
.fondoGallery{
    background-image: url("../../assets/FondoGallery.jpg");
}
/*Fondo Shop*/
.fondoShop{
    background-image: url("../../assets/Galeria8.jpg");
}
/*Fondo Contact*/
.fondoContact{
    background-image: url("../../assets/FondoContact.jpg");
}